{% extends "base.html" %}
{% block content %}
<div class="p-lg-5" align="center">
    Upload your KML obtained from mision planner.
</div>

<div class="p-lg-5">
    Add a name that will act as reference to your KML
   <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Upload</button>
    </form>
</div>

<div class="p-lg-5">
<a href="{% url 'document_list' %}" class="btn btn-primary">Get all drone paths</a>
</div>


{% endblock %}
