{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="p-lg-5" align="center">
  The reforestation is a problem that affects a lot of countries nowadays, due to this project tries to be a system able to automatically reforestation using three popular technologies: Liquid Galaxy (as interface that the user will interact with), Machine learning (to detect the burnt zone) and drones (to do the reforestation).
  <div class="p-lg-5" align="center">
      <img src="{% static 'gsoc2019/logos.png' %}" class="img-responsive center-block"  alt="Responsive image" alt="Responisve image" width="60%" height="60%">
  </div>
</div>



{% endblock %}
